# macOS
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
ENV/

# Node
node_modules/
build/
.npm/
!frontend/dist/
!frontend/dist/**


# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
Thumbs.db

# Large Datasets
*.xlsx

.vite/
